<!DOCTYPE html>
<html lang="nl-be">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 is it me you're looking for? | Arne</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="page--404">
	<main class="main">
		<h1 class="title">404</h1>
		<p class="sub-title">We couldn't find the page you're looking for.</p>
		<p class="description">Try searching or go to <a href="/" target="_self">homepage.</a></p>
	</main>	
</body>
</html>